# Node Environment
NODE_ENV=development
PORT=3000

# PostgreSQL Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/learns_user_db?schema=public

# Redis Cache
REDIS_URL=redis://localhost:6379
REDIS_CACHE_TTL_SECONDS=300

# CORS
CORS_ORIGIN=*
